@model Amazonia.DAL.Modelo.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObterPreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObterPreco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPorEscrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPorEscrito)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.UrlCapaDoLivro)*@

            <img src="@Model.UrlCapaDoLivro" />

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlCapaDoLivro)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
