@model Amazonia.eCommerceRazor.Models.Cliente

<div class="container">
    <h1>Detalhes do Cliente</h1>

    <div>
        <span class="display-prop-name">
            @Html.DisplayNameFor(model => model.Nome)
        </span>
        <br />
        <span class="display-prop-value">
            @Html.DisplayFor(model => model.Nome)
        </span>
    </div>
    <div>
        <span class="display-prop-name">
            @Html.DisplayNameFor(model => model.UserName)
        </span>
        <br />
        <span class="display-prop-value">
            @Html.DisplayFor(model => model.UserName)
        </span>
    </div>
    <div>
        <span class="display-prop-name">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </span>
        <br />
        <span class="display-prop-value">
            @Html.DisplayFor(model => model.DataNascimento)
        </span>
    </div>
</div>

